@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');

body {
    font-family: 'Playfair Display', serif;
    text-align: center;
    width: 100%;
    background-color: #d9d3d1;
    color: #242321;
    margin: auto;
  }

#Homepage{
    display: flex;
    width: 100%;
    background-color: #c3bdb9;
}
#Homepage h1 {
    margin: 0 20px; /* Eliminé el margen superior e inferior del h1 para que se vea mejor */
}

#Homepage ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos de la lista a la derecha */
    width: 70%;
}

#Homepage ul li {
    margin-right: 20px; /* Añadí un margen entre los elementos de la lista para separarlos */
}

#Homepage a {
    text-decoration: none;
    color: #242321;
}

#Homepage a:hover {
    color: #46433e;
}

#Homepage .icon img {
    width: 20px; /* Ajusta el tamaño de la imagen del carrito según tus necesidades */
}

.FatherContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ContainerImages img {
    flex-direction: right;
    align-items: right;
    max-width: 50vh; 
    margin: 10px; 
}

.MainText {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    display: flex;
}

.MainText h1{
    margin: 0;
    flex-direction: column;
    color: rgba(164, 18, 18, 0.525); 
}
.MainText p {
    margin: 0;
    flex-direction: column;
}
.MainText b {
    margin: 0;
    flex-direction: column;
    color: rgba(164, 18, 18, 0.525);
}

.SecondaryContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #c3bdb9;
}

.SecondText {
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 90px 0;
    display: flex;
}

.SecondText h1{
    margin: 0;
    flex-direction: column;
    color: rgba(26, 20, 20, 0.525); 
}
.SecondText p {
    margin: 0;
    flex-direction: column;
}

.SecondContainerImage img {
    flex-direction: left;
    align-items: left;
    max-width: 50vh; 
    margin: 40px 10px;
}

.TextContainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    display: flex;
}
.TextContainer h1 {
    margin: 10px 0;
    flex-direction: column;
    color: rgba(62, 20, 20, 0.525); 
}
.TextContainer p {
    margin: 0;
    flex-direction: column;
}
.TextContainer b {
    margin: 0;
    flex-direction: column;
    color: rgba(70, 23, 23, 0.525);
}

.ThirdContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #d9d3d1;
}
.ThirdContainerImage img{
    flex-direction: left;
    align-items: left;
    max-width: 50vh; 
    margin: 10px;
}
.FourthContainerImage img{
    flex-direction: left;
    align-items: left;
    max-width: 50vh; 
    margin: 10px;
}
.FifthContainerImage img{
    flex-direction: left;
    align-items: left;
    max-width: 50vh; 
    margin: 10px;
}

